.errorMat{
    padding: 1.3em;
    margin-bottom: 1em;
}

fieldset{
  min-width: 12px;
  legend{
    float: left;
    border: none;
  }
}

.btn-matricula{
  @extend .btn-login;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.header-bar {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $primary_color;
  padding-bottom: 4em;
  h1 {
    color: $primary_color_text;
  }
  h2 {
    color: $primary_color_text;
  }
  h3{
    i{
      font-size: .8em;
    }
  }
}

.cr{
  margin-top: -3em;
  position: relative;
  form{
    margin-top: 0;
  }
}

.detalle{
  padding: 2em 2em 3em 3em;
}
