<navbar></navbar>

<div class="container">
  <div class="row">
    <div class=" col-sm-3 pull-right"> Buscar <input type="search" class="form-control"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="mat.login(form)" bs-has>
        <div class="row">
          <fieldset class="col-sm-12">
            <legend class="col-sm-12">Datos del estudiante</legend>
            <div class="form-group col-md-5">
              <label>Nombres</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.nombres" required>
            </div>
            <div class="form-group col-md-4">
              <label>Apellidos</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.apellidos" required>
            </div>
            <div class="form-group col-md-3">
              <label>C.I.</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.cedula" required>
            </div>
            <div class="form-group col-md-3">
              <label>Fecha de nacimiento</label>
              <input type="date" name="nombres" class="form-control" ng-model="mat.matricula.fechaNacimiento" required>
            </div>

            <div class="form-group col-md-6">
              <label>Lugar</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.lugarNacimiento" required>
            </div>
            <div class="form-group col-md-3">
              <label>Sexo</label>
              <select class="form-control" ng-model="mat.matricula.sexo">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>
            <div class="form-group clear col-md-9">
              <label>Dirección de domicilio</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.lugarDomicilio" required>
            </div>

            <div class="form-group col-md-3">
              <label>Nivel de educación</label>
              <select ng-model="mat.matricula.nivel" class="form-control" ng-options="values2.indexOf(selectedItem3) as selectedItem3 for selectedItem3 in values2"></select>
            </div>
            <div class="form-group col-md-9">
              <label>
                Personas con quien convive</label>
              <br/>
              <div>
                <label class="checkbox-inline" ng-repeat="fruit in fruits">
                  <input type="checkbox" name="selectedFruits[]" value="{{fruit.name}}" ng-model="fruit.selected">
                  {{fruit.name}}
                </label>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <label>Institución anterior</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.anteriorInstitucion" required>
            </div>

            <div class="form-group col-sm-12">
              <label>Representante escolar (Nombre completo)</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.representante" required>
            </div>

            <div class="form-group col-sm-3">
              <label>Parentesco</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.representanteParentesco" required>
            </div>

            <div class="form-group col-sm-3">
              <label>C.I.</label>
              <input type="" name="nombres" class="form-control" ng-model="mat.matricula.representanteCI" required>
            </div>

            <div class="form-group col-sm-3">
              <label>Telefonos</label>
              <input type="tel" name="nombres" class="form-control" ng-model="mat.matricula.telefonosRepresentante.primary" required>
              <br/>
              <input type="tel" name="nombres" placeholder="Opcional" class="form-control" ng-model="mat.matricula.telefonosRepresentante.alter">
            </div>

            <div class="form-group col-sm-3">
              <label>Correo electrónico</label>
              <input type="email" name="nombres" class="form-control" ng-model="mat.matricula.emailRepresentante" required>
            </div>
          </fieldset>
        </div>
        <div class="row">

          <fieldset class="col-md-6">
            <legend>Datos del padre</legend>
            <div class="form-group col-sm-12">
              <label>Nombres</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.nombresPadre" required>
            </div>
            <div class="form-group col-sm-12">
              <label>Apellidos</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.apellidosPadre" required>
            </div>
            <div class="form-group col-md-8">
              <label>Lugar de trabajo</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.lugarTrabajoPadre" required>
            </div>
            <div class="form-group col-md-4">
              <label>Cédula</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.ciPadre" required>
            </div>
            <div class="form-group col-md-7">
              <label>Cargo que ocupa</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.cargoPadre" required>
            </div>
            <div class="form-group col-md-5">
              <label>Nivel de educación</label>
              <select ng-model="mat.matricula.nivelPadre" class="form-control" ng-options="values.indexOf(selectedItem) as selectedItem for selectedItem in values"></select>
            </div>
          </fieldset>
          <fieldset class="col-md-6">
            <legend>
              Datos de la madre</legend>
            <div class="form-group col-sm-12">
              <label>Nombres</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.nombresMadre" required>
            </div>
            <div class="form-group col-sm-12">
              <label>Apellidos</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.apellidosMadre" required>
            </div>
            <div class="form-group col-md-8">
              <label>Lugar de trabajo</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.lugarTrabajoMadre" required>
            </div>
            <div class="form-group col-md-4">
              <label>Cédula</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.ciMadre" required>
            </div>
            <div class="form-group col-md-7">
              <label>Cargo que ocupa</label>
              <input type="text" name="nombres" class="form-control" ng-model="mat.matricula.cargoMadre" required>
            </div>
            <div class="form-group col-md-5">
              <label>Nivel de educación</label>

              <select ng-model="mat.matricula.nivelMadre" class="form-control" ng-options="values.indexOf(selectedItem2) as selectedItem2 for selectedItem2 in values"></select>
            </div>
          </fieldset>
        </div>
        <div class="clearfix"></div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && mat.submitted">
            Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && mat.submitted">
            Please enter a valid email.
          </p>

          <p class="help-block">{{ mat.errors.other }}</p>
        </div>
        <button class="btn btn-inverse btn-lg btn-login" type="submit">
          Enviar
        </button>

      </form>
    </div>
  </div>
  <hr>
</div>
