
<label>Buscar: <input class="form-control" ng-model="filtro"></label>
<hr>
<ul class="list-group user-list">
  <li class="list-group-item" ng-repeat="matricula in vm.matriculas | filter: filtro | startFrom: (currentPage-1)*entryLimit | limitTo:entryLimit">
    <div class="user-info">
        <strong>{{matricula.nombres}}</strong><br>
        <span class="text-muted">{{matricula.nivelAplica}}</span>
    </div>
      <a ui-sref="matricula.detalleMatricula({id: matricula._numOrden})" class="view"><span class="fa fa-eye fa-2x"></span></a>

        <a ui-sref="matricula.editarMatricula({id: matricula._numOrden})" class="view"><span class="fa fa-pencil fa-2x"></span></a>
      <a ng-click="vm.deleteMatricula(matricula)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
  </li>

  <pagination page="currentPage" max-size="noOfPages" total-items= "(vm.matriculas | filter: filtro).length" items-per-page="entryLimit" num-Pages="numPages"></pagination>
</ul>
