<div class="row hidden-print">
  <div class="form-group col-md-4 ">
    <label >Buscar:
    </label>
    <input class="form-control" ng-model="filtro" placeholder="# de orden, nombre, escolaridad, cédula">
  </div>
  <div class="form-group col-md-2  pull-right">
    <label>Resultados por página</label>
    <select class="form-control" ng-model="entryLimit">
      <option value=9>9</option>
      <option value=21>21</option>
      <option value=42>42</option>
      <option value="{{vm.matriculas.length}}">Todos</option>
    </select>
  </div>
</div>
<div class="row hidden-print">

  <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="matricula in vm.matriculas | filter: filtro | startFrom: (currentPage-1)*entryLimit | limitTo:entryLimit">
    <div class="card">
      <h2 class="card__title">{{matricula.nombreCompleto}}</h2>
      <span class="card__subtitle">{{matricula.nivelAplica}}</span>
      <p class="card__text">
        <strong>Cédula:</strong>{{matricula.cedula}}<br>
        <strong>Padre:</strong>{{matricula.nombreCompletoPadre}}<br>
        <strong>Madre:</strong>{{matricula.nombreCompletoMadre}}<br>
      </p>
      <div class="card__action-bar ">
        <button class="card__button" ui-sref="matricula.detalleMatricula({id: matricula._numOrden})">VER</button>
        <button class="card__button" ui-sref="matricula.editarMatricula({id: matricula._numOrden})">EDITAR</button>
        <button class="card__button" ng-click="vm.deleteMatricula(matricula)">BORRAR</button>
      </div>
    </div>
  </div>

</div>
<pagination page="currentPage" class=" hidden-print" ng-model="currentPage" total-items="(vm.matriculas |filter: filtro).length" items-per-page="entryLimit"></pagination>
<!-- <button type="button" name="export" ng-click="vm.excelExport()" class="btn btn-default btn-login">Exportar</button> -->
<div class="visible-print printTable">
  <h3>Reporte generado por {{admin.getCurrentUser().name +" - "+ admin.getCurrentUser().role}} </h3>
  <h4>Fecha: {{ date | date:'dd/MM/yyyy'}}</h4>
  <h4>Hora: {{ date | date:'HH:mm:ss'}}</h4>
  <div class="table">
    <div class="table-row">
        <div class="table-cell">Nombres y appellidos</div>
        <div class="table-cell" ng-show="printOpts.nivelAplica">Año</div>
        <div class="table-cell"  ng-show="printOpts.cedula">Cédula</div>
        <div class="table-cell" ng-show="printOpts.fechaNacimiento">Fecha de nacimiento</div>
        <div class="table-cell"  ng-show="printOpts.tipoSangre">Tipo de sangre</div>
        <div class="table-cell"  ng-show="printOpts.sexo">Sexo</div>
        <div class="table-cell" ng-show="printOpts.anteriorInstitucion">Anterior institución</div>
        <div class="table-cell" ng-show="printOpts.representante">Representante</div>
        <div class="table-cell" ng-show="printOpts.ciRepresentante">Cédula representante</div>
        <div class="table-cell" ng-show="printOpts.telsRepresentante">Teléfonos representante</div>
        <div class="table-cell" ng-show="printOpts.emailRepresentante">Emails representante</div>
        <div class="table-cell" ng-show="printOpts.estado">Cancelado</div>
    </div>
    <div class="table-row" ng-repeat="matricula in vm.matriculas | filter: filtro">
      <div class="table-cell">{{matricula.nombreCompleto}}</div>
      <div class="table-cell"  ng-show="printOpts.nivelAplica">{{matricula.nivelAplica}}</div>
      <div class="table-cell"  ng-show="printOpts.cedula">{{matricula.cedula}}</div>
            <div class="table-cell"  ng-show="printOpts.fechaNacimiento">{{matricula.fechaNacimiento | date:'yyyy/MM/dd'}}</div>
      <div class="table-cell"  ng-show="printOpts.sexo">{{matricula.sexo}}</div>
      <div class="table-cell"  ng-show="printOpts.tipoSangre">{{matricula.tipoSangre}}</div>
      <div class="table-cell"  ng-show="printOpts.anteriorInstitucion">{{matricula.anteriorInstitucion}}</div>
      <div class="table-cell" ng-show="printOpts.representante">{{matricula.representante}}</div>
      <div class="table-cell" ng-show="printOpts.ciRepresentante">{{matricula.representanteCI}}</div>
      <div class="table-cell" ng-show="printOpts.telsRepresentante"><span>{{matricula.telefonosRepresentanteP}}</span><br><span>{{matricula.telefonosRepresentanteA}}</span></div>
      <div class="table-cell" ng-show="printOpts.emailRepresentante"><span>{{matricula.emailRepresentanteP}}</span><br> <span>{{matricula.emailRepresentanteA}}</span></div>
      <div class="table-cell" ng-show="printOpts.estado"><span ng-show="matricula.estado">✔</span></div>
    </div>
  </div>
</div>
